<div id="footer">
    <span>
        <a id="license-link" target="_blank" href="https://opensource.org/licenses/MIT">
            ©Copyright 2021 Anthony Ciabatoni and Jonathan Bowe
        </a>
    </span>

    <span id="github-links">

        <a target="_blank" href="https://github.com/BoweFlex">
            <img
                width="20"
                alt="Github"
                src="../../../github_logo.png"
                />
            Jonathan's Github
        </a>

        <a target="_blank" href="https://github.com/Ciabatoni97">
            <img
                width="20"
                alt="Github"
                src="../../../github_logo.png"
                />
            Anthony's Github
        </a>
    </span>
</div>