<!-- DND Character Manager  -->
<!-- Created By: Anthony Ciabatoni & Jon Bowe -->


<div>
  <app-navigation></app-navigation>
</div>



<!-- Toolbar - No longer needed  --> 


<!-- <div class="toolbar" role="banner">
  
  <ul id="navbar-nav">
    <li class="navbar-item" id="name">D&D Character Manager</li>
    <li class="navbar-item" id="home">Home</li>
    <li class="navbar-item" id="Characters">Characters</li>
    <li class="navbar-item" id="logo"><img
    width="100"
    alt="D20"
    src="../favicon.ico"
    /></li>
    <li class="navbar-item" id="about">About</li>
    <li class="navbar-item" id="contact">Contact</li>
    <li class="navbar-item" id="login">Login</li>
  </ul>
    <div class="spacer"></div>
    
</div> -->

