:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #b91a1a;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    display: block;
    margin-left: 60em;
    margin-right: 50em;
    margin-top: 0;
    padding: 0;
    border: 0;
    position: absolute;
  }

  #navbar-nav li {
    display: inline;
  }

  .navbar-item {
    margin-left: 8em;
    margin-right: 8em;
  }
 
  #name {
    margin-left: 0em;
  }

  #login {
    margin-right: 0em;
  }
  

  #footer {
    background-color: #921615;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    height: 5%;
    display: inline;
  }

  #current-page {
    width: 100%;
    position: absolute;
    bottom: 10em;
  }