<!-- Toolbar -->
<div class="toolbar" role="banner">
  
    <ul id="navbar-nav">
      <li class="navbar-item" id="name">D&D Character Manager</li>
      <li class="navbar-item" id="home">
        <a class="navbar-link" routerLink="home">Home</a>
      </li>
      <li class="navbar-item" id="Characters">
        <a class="navbar-link" routerLink="characters">Characters</a>
      </li>
      <li class="navbar-item" id="logo">
        <a class="navbar-link" routerLink="home">
          <img
          width="5%"
          alt="D20"
          src="../favicon.ico"
          />
        </a>
      </li>
      <li class="navbar-item" id="about">
        <a class="navbar-link" routerLink="about">About</a>
      </li>
      <li class="navbar-item" id="contact">
        <a class="navbar-link" routerLink="contact">Contact Us!</a>
      </li>
      <li class="navbar-item" id="login">Login</li>
    </ul>
      <div class="spacer"></div>
      
  </div>
  
